<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity
0="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<head>
    <h1 style="text-align: center; margin: 20px;">Tableau utilisateurs</h1>
    <br>
        <ul class="nav nav-pills" style="margin: 20px;">
            <li class="nav-item">
                <a class="nav-link active" href="../form.html">Formulaire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="http://localhost:8082/table">Tableau d'utilisateurs</a>
            </li>
        </ul>
</head>


<body>
<div style="margin: 30px;">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Ville</th>
                <th scope="col">Code postal</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < users.length; i++) { %>
            <tr>

                <td><div class="threeChars"><%= users[i].id %></div></td>
                <td><%= users[i].name %></td>
                <td><%= users[i].foreName %></td>
                <td><%= users[i].city %></td>
                <td><%= users[i].zip %></td>
                <td><form method='POST' action=" ">
                   <a data-confirm="Are you sure?" data-method="delete" href="http://localhost:8082/table/<%= users[i].id %>" rel="nofollow">Delete</a>
                </form></td>



            </tr>
            <% } %>
        </tbody>
    </table>
</div>
</body>


<style>
.threeChars {
    font-family: monospace;
     width: 3ch;
  overflow: hidden;
  white-space: nowrap;
}
</style>

</html>